@import url("components/fixbar.css");
@import url("components/footer.css");
@import url("components/hexagon.css");
@import url("components/box.css");
@import url("components/hexagons.css");
@import url("components/hexagons.min.css");

* {
  font-size: 1.04em;
}

a {
  color: #ccc;
  /*font-size: 1.2em;*/
  text-decoration: none;
  /*width: 1%;*/
}

.no-padding {
  margin-left: 0%;
  margin-right: 0%;
  padding-right: 0%;
  padding-left: 0%;
}
