@import url("components/fixbar.css");
@import url("components/footer.css");
@import url("components/hexagon.css");
@import url("components/box.css");
@import url("components/experience.css");
@import url("components/graduation.css");
@import url("components/barre.css");
@import url("components/form.css");
@import url("components/banner.css");

* {
  font-size: 1.02em;
}

a {
  color: #ccc;
  /*font-size: 1.2em;*/
  text-decoration: none;
  /*width: 1%;*/
}

.no-padding {
  margin-left: 0%;
  margin-right: 0%;
  padding-right: 0%;
  padding-left: 0%;
}
