#skill {
  margin-bottom: 3%;
}

#skill .barres li {
  margin-top: 3%;
  list-style-type: none;
}

#skill .barres li {
  margin-bottom: 21px;
  position: relative;
}

#skill .barres li:after {
  background: #e1e1e1;
  bottom: -4px;
  content: ' ';
  display: block;
  height: 5px;
  position: absolute;
  width:100%;
}

#skill .barres li span {
  background: #33a4c9;
  bottom: -4px;
  content: ' ';
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  width: inherit;
  z-index: 1;
}
