.box {
  margin-top: 2.5%;
  color: rgba(20 , 20, 20, 0.8);
}

.box h2 {
  margin-left: 1%;
  border-bottom: 3px solid rgba(50, 50, 50, 0.5);
  padding-bottom: 0.3em;
}

.box h2 > i {
  font-size: 1.3em;
}

.box i {
  margin-right: 1%;
}

.box img {
  width: 50%;
  border-radius: 100%;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.date p {
  font-size: 0.95em;
  line-height: 0.5em;
}

.title-info h3 {
  /*font-size: 0.95em;*/
  line-height: 1.0em;
}

.table-skills {
  margin-top: 3%;
}
