#experience article {
  margin: 3% 2%;
}

#experience h3 {
  margin-top: 0%;
}

.details a {
  line-height: 3em;
}

#experience a {
  text-decoration: none;
  color: rgba(120 , 120, 120, 0.8);
}

#experience a:hover {
  color: rgba(120 , 120, 120, 1);
}
