#footer {
  background-color: #333333;
  /*width: 100%;*/
  margin-top: 5%;
  padding: 1%;
  color: #ccc;
}

#footer a {
  /*font-size: 2.5em;*/
  text-decoration: none;
  /*width: 1%;*/
}

#footer ul {
  /*float: center;*/
  margin-top: 3%;
  padding: 0px;
  word-spacing: 1.5em;
}


#footer li {
  /*display: inline-block;*/
  /*margin: 10px 10px;*/
  list-style-type: none;
}

#footer a {
  color: rgba(250, 250, 250, 0.4);
  word-spacing: 0.2em;
  font-size: 1.2em;
}

#footer a:hover {
  /*color: rgba(250, 250, 250, 0.1);*/
  color: rgba(104, 223, 240, 0.9);
}

#footer h2 {
  margin-left: 1%;
}

#footer h2 > i {
  font-size: 1em;
}

#footer i {
  margin-right: 2%;
}

#footer i:hover {
  /*font-size: 2.1em;*/
  /*color: rgba(104, 223, 240, 0.9);*/
}

#submit {
  /*font-size: 2.1em;*/
  color: rgba(100, 100, 100, 0.7);
}
