/************
/* Contact
************/
  ::-webkit-input-placeholder  { color:#fff; }
  input:-moz-placeholder { color:#fff; }
  .placeholder { color: #fff; }

  .contactform {
    background-color: #33a4c9;
    color: #fff;
    display: none;
  }

  .contactform > div {
    padding: 21px 0;
  }

  .contactform input[type=text], .contactform input[type=email], .contactform textarea {
    background: #2983a0;
    border: 1px solid #226d85;
    border-radius: 2px;
    color: #fff;
    max-width: 100%;
    opacity: .7;
    padding: 10px 10px 9px 10px;
    margin-top: 0;
    position: relative;
    vertical-align: top;
    width: 100%;
  }

  .contactform input[type=text], .contactform input[type=email], .contactform textarea {
    margin-bottom: 21px;
  }

  .contactform textarea {
    font-family: 'DroidSansRegular', Arial, sans-serif;
    font-size: 14px;
    height: 148px;
  }

  .contactform input[type=text]:focus, .contactform input[type=email]:focus, .contactform textarea:focus {
    border: 1px solid #226d85;
    opacity: 1;
    outline: none;
    -o-transition: opacity 1s;
    -ms-transition:opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition:opacity 1s;
  }

  .contactform input[type=submit] {
    background: #ff9f39;
    border: 1px solid #ff9f39;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 10px 10px 9px 10px;
    width: 100%;
    -webkit-appearance: none;
  }

  .contactform input.error, .contactform textarea.error {
    border: 1px solid red;
  }

  .contactform label.error {
    display: none !important;
  }

  /***********************
  /* Message du formulaire
  ***********************/
    .messageform {
      display: none; /* Affiché via jQuery */
      border-radius: 2px;
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
      padding:10px 10px 9px 10px;
      margin: 0;
      text-align: center;
      width: 100%;
    }
    .envoi-valid, .envoi-error {
      display: inline-block;
     }
    .envoi-valid {
      background-color: #31D869;
      border:1px solid #108D3A;
      color: #108D3A;
    }
    .envoi-error {
      background-color: #FF5839;
      border:1px solid #A62913;
      color: #A62913;
    }
    .envoi-error a {
      color: #A62913;
      text-decoration: underline;
    }

